ul.smothscroll {
    position: fixed;
    bottom: 25px;
    right: 30px;
    list-style: none;
    z-index: 1111;
}

ul.smothscroll a {
    background-color: rgba(222, 192, 106, 0.7); /* لو تبي الخلفية */
    width: 45px;
    height: 45px;
    display: flex; /* يضمن التمركز الكامل */
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    color: #fff !important;
    border: 2px solid #f6eecd;
    transition: all 0.3s ease;
}

ul.smothscroll a:hover {
    background-color: #f6eecd;
    color: #fff !important;
}

ul.smothscroll a svg {
    fill: white !important; /* يؤثر فقط على svg داخل a */
}

@media(max-width: 767px) {
    ul.smothscroll a {
        width: 30px;
        height: 30px;
    }
}
